:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 24px;
  background-color: aliceblue;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.main-title {
  text-align: center;
  margin-bottom: 16px;
}

.form-search {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  width: 371px;
  height: 40px;
}
.form-title-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  width: 272px;
  height: 40px;
}

.form-input {
  outline: none;
  border-radius: 4px;
  border: 1px solid #808080;
  width: 272px;
  height: 40px;
  padding: 8px 16px;

  &:hover {
    border: 1px solid #000;
  }

  &:focus {
    border: 1px solid #4e75ff;
  }
}
.form-input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}
.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: 0px solid #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  &:hover {
    background: #6c8cff;
    border: 2px solid #4e75ff;
  }

  &:active {
    background: #fff;
    border: 2px solid #6c8cff;
    color: #6c8cff;
  }
}
