.gallery {
  min-width: 660px;
  max-width: 1128px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  gap: 10px;
  row-gap: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 0;
}
.gallery-item {
  border: 1px solid #808080;
  width: calc((100% - 20px) / 3);
  display: flex;
  flex-direction: column;
}
.gallery-link {
  width: 100%;
  display: block;
  flex-grow: 1;
}
.gallery-image {
  height: 100%;
}
.gallery-item-data {
  border-top: 1px solid #808080;
  padding: 4px 16px;
  display: flex;
  justify-content: space-between;
}
.gallery-data-label {
  text-align: center;
}
.gallery-data-name {
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.gallery-data-value {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/*modal window style*/
.sl-wrapper {
  background: rgba(46, 47, 66, 0.8);
}
.sl-wrapper .sl-counter {
  color: #fff;
}

.loader-and-btn {
  margin: 0 auto;
  display: flex;
  gap: 8px;
  width: 181px;
  height: 48px;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;
  border: 3px solid;
  border-color: #0b0258 #0b0258 transparent transparent;
  box-sizing: border-box;
  animation: rotation 1750ms linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #f8f403 #f8f403;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 750ms linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #0b0258 #0b0258 transparent transparent;
  animation: rotation 1750ms linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.is-hidden {
  display: none;
}

.load-more-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: 0px solid #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background: #4e75ff;

  &:hover {
    background: #6c8cff;
    /* border: 2px solid #4e75ff; */
  }

  &:active {
    background: #fff;
    border: 2px solid #6c8cff;
    color: #6c8cff;
  }
}

.is-btn-visible {
  display: block;
  margin: 0 auto;
}
