.gallery {
  min-width: 660px;
  max-width: 1128px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  gap: 10px;
  row-gap: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 0;
}
.gallery-item {
  border: 1px solid rgba(90, 0, 0, 0.7);
  width: calc((100% - 20px) / 3);
  display: flex;
  flex-direction: column;
  box-shadow:
    0px 2px 1px rgba(90, 0, 0, 0.2),
    0px 1px 1px rgba(90, 0, 0, 0.4),
    0px 1px 6px rgba(90, 0, 0, 0.1);
}
.gallery-link {
  width: 100%;
  display: block;
  flex-grow: 1;
}
.gallery-image {
  height: 100%;
}
.gallery-item-data {
  border-top: 1px solid rgba(90, 0, 0, 0.7);
  padding: 4px 6px;
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 0 3px 4px rgba(90, 0, 0, 0.2);
}
.gallery-data-label {
  text-align: center;
}
.gallery-data-name {
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.gallery-data-value {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/*modal window style*/
.sl-wrapper {
  background: rgba(46, 47, 66, 0.8);
}
.sl-wrapper .sl-counter {
  color: #fff;
}
.loader {
  display: none;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 30%;
  left: 50%;
  background-color: rgba(219, 13, 13, 0.4);
  background-image:
    linear-gradient(#0019f7 16px, transparent 0),
    linear-gradient(#ff3d00 16px, transparent 0),
    linear-gradient(#ff3d00 16px, transparent 0),
    linear-gradient(#01f801 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position:
    left top,
    left bottom,
    right top,
    right bottom;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg);
  }
  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
  }
  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg);
  }
}
